.display{
    text-align: center;
    font-size: 3rem;
    color: #2A77AE;
    display: inline;
    padding: 10px;
}

.scores{
    display: block;
    clear: both;
    padding: 10px;
}

body{
    background-color: tan;
}