.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    padding: 20px;
  }

.img-container, img{
    height: 100%;
    width: 100%;
}